<div class="mr-auto bg-light p-5">
            <h5>Centro de Mensajes</h5>
            <form id="form-chat">
                <input name="email" id="emailInput" class="form-control" placeholder="Ingrese su Mail" required>

                <br>

                <div id="messages">
                    {{#each messages}}
                        <span id="email">{{this.email}}</span>
                        <span id="date">[{{this.date}}]</span>
                        <span id="data">: {{this.data}}</span><br>
                    {{/each}}
                </div>
                <br>

                <input id="dataInput" class="form-control w-25 d-inline" placeholder="Ingrese tu Mensaje" required>
                <button class="btn btn-primary w-25 d-inline " id="submit-chat" type="submit">Enviar</button>
            </form>
</div>